
# Created by https://www.gitignore.io/api/o,bower

#!! ERROR: o is undefined. Use list command to see defined gitignore types !!#

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
